<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyzzcw.work.im.server.infrastructure.mapper.ImPrivateMessageMapper">
  <resultMap id="BaseResultMap" type="lyzzcw.work.im.server.infrastructure.entity.ImPrivateMessage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="send_id" jdbcType="BIGINT" property="sendId" />
    <result column="recv_id" jdbcType="BIGINT" property="recvId" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="lyzzcw.work.im.server.infrastructure.entity.ImPrivateMessage">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, send_id, recv_id, type, status, send_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from im_private_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from im_private_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lyzzcw.work.im.server.infrastructure.entity.ImPrivateMessage">
    insert into im_private_message (id, send_id, recv_id, 
      type, status, send_time, content
      )
    values (#{id,jdbcType=BIGINT}, #{sendId,jdbcType=BIGINT}, #{recvId,jdbcType=BIGINT}, 
      #{type,jdbcType=BIT}, #{status,jdbcType=BIT}, #{sendTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="lyzzcw.work.im.server.infrastructure.entity.ImPrivateMessage">
    insert into im_private_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sendId != null">
        send_id,
      </if>
      <if test="recvId != null">
        recv_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sendId != null">
        #{sendId,jdbcType=BIGINT},
      </if>
      <if test="recvId != null">
        #{recvId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lyzzcw.work.im.server.infrastructure.entity.ImPrivateMessage">
    update im_private_message
    <set>
      <if test="sendId != null">
        send_id = #{sendId,jdbcType=BIGINT},
      </if>
      <if test="recvId != null">
        recv_id = #{recvId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="lyzzcw.work.im.server.infrastructure.entity.ImPrivateMessage">
    update im_private_message
    set send_id = #{sendId,jdbcType=BIGINT},
      recv_id = #{recvId,jdbcType=BIGINT},
      type = #{type,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lyzzcw.work.im.server.infrastructure.entity.ImPrivateMessage">
    update im_private_message
    set send_id = #{sendId,jdbcType=BIGINT},
      recv_id = #{recvId,jdbcType=BIGINT},
      type = #{type,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      send_time = #{sendTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>